service:
  database:
    host: "localhost"
    user: "user"
    password: "password"
    port: 5400
    name: "database"

  redis:
    host: "localhost"
    password: "password"
    port: 6380

bot:
  token: "BOT_TOKEN"
  grant-chat-id: -500000
  admin-ids:
    - 500000000
  valid-email-domains:
    - edu.centraluniversity.ru
    - centraluniversity.ru
  domain: cu-clubs.ru

settings:
  debug: false # дебаг мод
  timezone: "GMT+3" # часовой пояс для логирования
  log-to-file: true # логирование в файл
  logs-dir: "./logs"
