service:
  database:
    host: "localhost"
    user: "user"
    password: "password"
    port: 5400
    name: "database"

  redis:
    host: "localhost"
    password: "password"
    port: 6380

bot:
  token: "BOT_TOKEN"
  grant-chat-id: -500000
  admin-ids:
    - 500000000
  valid-email-domains:
    - edu.centraluniversity.ru
    - centraluniversity.ru
  domain: cu-clubs.ru

settings:
    logging:
      log-to-file: true # логирование в файл
      logs-dir: "./logs"
      timezone: "GMT+3" # часовой пояс для логирования
      debug: true # дебаг мод
      log-to-channel: true # логирование в канал
      channel-id: -10000000000 # канал для логов
      channel-log-level: 2 # от какого уровня лога будем отправлять его в канал
      locale: "ru"
