service:
  database:
    host: "database"
    user: "user"
    password: "password"
    port: 5400
    name: "database"
    ssl-mode: "disable"

  redis:
    host: "redis"
    password: "password"
    port: 6380

  smtp:
    domain: domain.ru
    host: smtp.domain.ru
    port: 587
    login: 3587
    pass: very-strong-password
    email: email@domain.ru

bot:
  token: "BOT_TOKEN"
  admin-ids:
    - 500000000
  session:
    ttl: 45m
    auth-ttl: 10m
    email-ttl: 120m
  banner:
    auth: "AgACAgIAAxkDAAMjZ54WGso7E9FRgvmxvzD9dAuLF98AAvDlMRvelPFIqs-v4Q8TUswBAAMCAAN3AAM2BA"
    menu: "AgACAgIAAxkDAAMkZ54WGt_8BtEqxqgplk5LMJ6v4s4AAvHlMRvelPFImOHfDJlYSvUBAAMCAAN3AAM2BA"
    club-owner: "AgACAgIAAxkDAAMiZ54WGYEjQ3vnJB3qz8_J3cHjwOoAAu_lMRvelPFI-WZmQhkJiYkBAAMCAAN3AAM2BA"
    events: "AgACAgIAAxkDAAMhZ54WGV8S15EsttBZSXn4fJ0kcZwAAu7lMRvelPFIrnmCmuVplD0BAAMCAAN3AAM2BA"
  auth:
    grant-chat-id: -40000000
    valid-email-domains:
        - edu.centraluniversity.ru
        - centraluniversity.ru
  qr:
    channel-id: -400000000
  pass:
    channel-id: -400000000
  mailing:
    channel-id: -400000000

settings:
    pass-emails: # Почты, куда будут отправляться списки на пропуска
        - firstemail@domain.ru
        - secondemail@domain.ru

    html:
      email-confirmation: "./mail.html"

    qr:
      logo-path: "./logo.png"

    timezone: "Europe/Moscow"
    logging:
      log-to-file: true # логирование в файл
      logs-dir: "./logs"
      debug: true # дебаг мод
      log-to-channel: true # логирование в канал
      channel-id: -10000000000 # канал для логов
      channel-log-level: 2 # от какого уровня лога будем отправлять его в канал
      locale: "ru"
